:root {
  --link-accent: #2196f3;
  --firstly-accent: #000000;
  --secondary-accent: #ffffff;
  --main-text: #212121;
  --secondary-text: #757575;
}

body,
body.body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}
/* Off style link */
.link {
  text-decoration: none;
}
/* Off style list */
.list {
  list-style-type: none;
}

/* Logo */
.logo {
  color: var(--link-accent);

  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Logo accent */
.logo-firstly {
  color: var(--firstly-accent);
}

.logo-secondary {
  color: var(--secondary-accent);
  background-color: var(--secondary-text);
}

/* Menu nav */
.header-list a {
  color: var(--main-text);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* Contacts */
.contacts a {
  color: var(--secondary-text);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/*Active */
.link.active {
  color: var(--link-accent);
}

.header-list a:hover,
.header-list a:focus,
.contacts a:hover,
.contacts a:focus {
  color: var(--link-accent);
}

/* Section-caption*/
.section-caption {
  color: var(--main-text);

  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/*Hero section*/
.hero-capt {
  color: var(--secondary-accent);

  /* background to see the header */
  background-color: var(--secondary-text);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Button */
.btn {
  background: var(--link-accent);
  color: var(--secondary-accent);

  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  cursor: pointer;
}

/* Section our advantage */
.list-item h3 {
  color: var(--main-text);

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.list-item p {
  color: var(--secondary-text);

  font-size: 14px;
  font-weight: 400px;
  line-height: 1.71;
}

/* Section our team */
.item-team h3 {
  color: var(--main-text);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.item-team p {
  color: var(--secondary-text);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

/* FOOTER */
.item-adress a {
  color: var(--secondary-accent);
  background-color: var(--firstly-accent);

  font-style: normal;
  font-weight: 400px;
  font-size: 14px;
  line-height: 1.71;
}

.link.adress {
  color: rgba(255, 255, 255, 0.6);
}

.link.adress:hover,
.link.adress:focus,
.item-adress a:hover,
.item-adress a:focus {
  color: var(--link-accent);
}

/* Portfolio */
.list button {
  background: #f5f4fa;
  color: var(--main-text);

  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
}

button.accent-btn {
  background: var(--link-accent);
  color: var(--secondary-accent);
}

.link h2 {
  color: var(--main-text);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.link p {
  color: var(--secondary-text);

  font-weight: 400px;
  font-size: 16px;
  line-height: 1.87;
}
